:root {
    --accent-color: rgb(255,153,0);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #202020;
    font-family: sans-serif;
}


/* === TOP PAGE STYLING === */
section#entry-text {
    background: transparent;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section#entry-text > h1 {
    color: #fff;
    font-size: 9.5vw;
    margin-bottom: 2rem;
}
section#entry-text > h2 {
    color: #fff;
    font-size: 2.9vw;
    font-weight: 500;
    color: var(--accent-color);
    
}
nav {
    margin-top: 2em;
}
section#entry-text > nav > a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 0 1em;
    /* transition-duration: 0.2s; */
}
section#entry-text > nav > a:hover {
    margin: 0 calc(1em - 5px);
}
a:hover {
    /* transform: scale(1.2); */
    color: var(--accent-color) !important;
}

a:hover span {
    padding: 0 5px;
}



/* MAIN CONTENT STYLING */
section#about-me {
    display: flex;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 7em 20em 7em;
}
section#about-me > .photo {
    padding: 2em;
    margin: 20px 0;
    text-align: end;
}
section#about-me > .photo > img {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    max-width: 300px;
    border-radius: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
}
section#about-me > .text {
    color: #b1b1b1;
    width: 60%;
    padding: 2em;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#about-me > .text > h3 {
    margin-bottom: 1em;
    font-size: 60px;
    color: var(--accent-color);
}
section#about-me > .text > p {
    font-size: 17px;
    line-height: 27px;
    color: #b9b9b9;
}
section#my-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    margin-bottom: 20em;
}

.card {
    background: rgb(15 15 15 / 90%);
    /* background: radial-gradient(#2c2c2c, #1e1e1e); */
  
}

section#contact {
    margin: 0;
    height: 50vh;
    background: radial-gradient(0deg, #1e1e1e, #2c2c2c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeup-move {
    transform: translateY(30px);
}
.fade-left {
    transform: translateX(-50px);
}
.fade-right {
    transform: translateX(50px);
}

.fadeup {
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.in-view {
    transform: none;
    opacity: 1;
}

.in-view.fadeup, .in-view .fadeup{ 
    transform: none;
    opacity: 1;
}

section#my-projects div {
    background: grey;
    margin: 20px;
    width: 250px;
    height: 250px;
}

canvas#main-canvas {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    /* background: linear-gradient(rgb(100, 100, 100), rgb(70, 70, 70)); */
    /* background-color: rgb(100, 100, 100); */
    background-color: black;
} 

